html {
    background-image: url("https://wallpapermemory.com/uploads/220/game-of-thrones-background-1080p-383441.jpg");
    background-size: cover;
    background-attachment: fixed;}
.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgba(71, 5, 5, 0.466); 
    overflow-x: hidden;
    padding-top: 20px;
    }
      
.sidenav a  {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #460e0e;
    display: block;
    }
      
.sidenav a:hover {
    color: #b46f6f;
    }
div.info{text-align: center;
         font-size: 21px;}
h2.houses{font-size: 25px;}
h3.houses{font-size: 25px;}
div.news{text-align: center;
         font-size: 21px;}
div.images{text-align: center;
         font-size: 21px;}
h2.hbo{font-size: 25px;}
div.socials{text-align: center;
         font-size: 21px;}
