body {
    background-image: url("https://wallpapermemory.com/uploads/220/game-of-thrones-background-1080p-383441.jpg");
    background-size: cover;
    background-attachment: fixed;}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(71, 5, 5, 0.466); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    }
      
      /* The navigation menu links */
.sidenav a  {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    }
      
      /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #b46f6f;
    }
div.info{text-align: center;
         background-color: rgba(70, 0, 0, 0.637);
         background-size: 250px 50px;
         font-size: 23px;}
p3.houses{text-align: center;}
p4.houses{text-align: center;}
div.news{text-align: center;
         background-color: rgba(70, 0, 0, 0.637);
         background-size: 250px 50px;
         font-size: 23px;}
